* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .media-card {
    border: 1px solid;
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
  }
  
  .actual-media {
    border: 1px solid;
    width: 100%;
    height: 80%;
  }
  
  .media-buttons {
    border: 1px solid;
    height: 20%;
    width: 100%;
  }
  
  .media-buttons button {
    width: 100%;
    height: 50%;
    font-size: 1.2rem;
    color: white;
    border: none;
    outline: none;
  }
  
  .media-download {
    background-color: rgba(39, 38, 38, 0.74);
  }
  
  .media-delete {
    background-color: rgb(22, 15, 15);
  }
  
  .actual-media img,.actual-media video {
    height: 100%;
    width: 100%;
  }